.button {
  width: fit-content;
  font-weight: bold;
  border-radius: var(--radius-lg);
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow-lg);

  &:active {
    box-shadow: inset var(--shadow-lg);
  }
}

/* Sizes */
.small {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.medium {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.large {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
}

.primary {
  background-color: var(--deep-red);
  color: white;
  border: none;

  &:hover {
    background-color: var(--deep-burgundy);
  }
}

.secondary {
  background-color: var(--rich-gold);
  color: var(--dark-charcoal);
  border: none;

  &:hover {
    background-color: #e9a012; /* Slightly darker gold */
  }
}
