.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 10;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;

  & > h1 {
    font-size: 32px;
    height: fit-content;
    font-family: var(--font-logo);
  }

  & > h3 {
    font-size: 28px;
  }
}

nav {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  width: min-content;
  border-radius: var(--radius-xl);

  background-color: var(--dark-charcoal);

  & a {
    color: var(--burnt-orange);

    &:hover,
    &.activeLink {
      color: var(--dark-charcoal);
    }
  }

  &:last-of-type {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
}

.flexSpacer {
  &:first-of-type {
    flex: 0 0 28%;
  }

  &:last-of-type {
    flex: 1 1 auto;
    min-width: 10px;
  }
}

.link,
.activeLink,
.searchButton {
  display: inline;
  padding: 0.8rem 1rem;
  border-radius: var(--radius-xl);
  position: relative;

  &:first-of-type {
    border-radius: calc(var(--radius-xl) - 4px) 0 0 calc(var(--radius-xl) - 4px);
  }

  &:nth-of-type(2),
  &:nth-of-type(5) {
    border-radius: 0 calc(var(--radius-xl) - 4px) calc(var(--radius-xl) - 4px) 0;
  }

  &:hover,
  &.activeLink {
    background-color: var(--burnt-orange);
    cursor: pointer;
  }
}

.search {
  display: flex;
  align-items: center;
  border-radius: 10px;

  &:hover .searchIcon {
    fill: var(--dark-charcoal);
  }
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  &.expanded {
    height: 30px;
    border: black solid;
    border-left: none;
    border-radius: 0;
    padding: 0;
  }
}

.searchInput {
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  transition: width 500ms ease-in-out, padding 500ms ease-in-out;
  border-radius: calc(var(--radius-xl) - 4px) 0 0 calc(var(--radius-xl) - 4px);
  font-size: 0;

  &.expanded {
    width: 150px;
    padding-left: 10px;
    margin-left: 1rem;
    font-size: var(--font-size-md);
    & + button {
      background-color: var(--burnt-orange);
      border-radius: 0 calc(var(--radius-xl) - 4px) calc(var(--radius-xl) - 4px)
        0;
      padding-right: 5px;
      & .searchIcon {
        color: var(--dark-charcoal);
      }
    }
  }
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.cartCount {
  font-size: 12px;
  position: absolute;
  top: 3px;
  left: 25px;
}

.searchIcon {
  color: var(--burnt-orange);
}

@media (max-width: 768px) {
  .header {
    gap: 1rem;
  }

  .logo,
  nav.nav {
    position: static;
  }

  .logo {
    width: 100%;
  }
}
