.homepage {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero {
  width: 100vw;
  height: 100vh;

  & > .heroImage {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("../../assets/images/home-image.webp");
    mask-image: radial-gradient(
      circle at center,
      black 40%,
      rgba(0, 0, 0, 0.8) 70%,
      transparent 100%
    );
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  & > .actionButton {
    position: absolute;
    bottom: 15px;
    left: 50%;
  }

  & .scroll {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;

  & > div {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
    transform: rotate(-2deg);
  }

  & > img {
    width: 350px;
    transform: rotate(5deg);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
  }
}

.scovilleMeter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-items: center;
  align-items: center;

  & > h1 {
    color: var(--primary-dark);
    font-size: 28px;
    transform: rotate(-5deg);
  }
}
