.homepage {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;

  & > .heroImage {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("../../assets/images/home-image2.webp");
    mask-image: radial-gradient(
      circle at center,
      black 40%,
      rgba(0, 0, 0, 0.8) 80%,
      transparent 100%
    );
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  & > .actionButton {
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    z-index: 1;
  }
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    var(--background) 100%
  );
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;

  & > div {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
    transform: rotate(-2deg);
  }

  & > img {
    width: 350px;
    transform: rotate(5deg);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-lg);
  }
}

& .flavorText {
  & h4 {
    margin-top: 1rem;
    text-align: center;
  }
}

.scovilleMeter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
  align-self: center;

  & > h1 {
    color: var(--primary-dark);
    font-size: 28px;
    transform: rotate(-20deg);
  }
}
