.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  padding: 24px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  width: 100%;
  height: 16px;
  border-radius: 1000px;
  background-color: #e5e7eb;

  & > div {
    height: 16px;
    border-radius: 1000px;
  }
}

.green1 {
  background-color: #10b981;
}

.green2 {
  background-color: #34d399;
}

.yellow1 {
  background-color: #fbbf24;
}

.yellow2 {
  background-color: #f59e0b;
}

.orange1 {
  background-color: #fb923c;
}

.orange2 {
  background-color: #f97316;
}

.red1 {
  background-color: #f87171;
}

.red2 {
  background-color: #dc2626;
}

.black {
  background-color: rgb(148, 0, 0);
}

.scovilleRange {
  width: 100%;
  cursor: pointer;
}

.pepperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & > span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.pepper {
  display: flex;
  gap: 10px;
  height: 75px;
  width: auto;

  & > * {
    display: flex;
    align-items: center;
    font-size: var(--font-size-lg);
    font-weight: 600;
  }
}
